[submodule "Plugin/reaper_ultraschall/Submodules/zlib"]
	path = Plugin/reaper_ultraschall/Submodules/zlib
	url = https://github.com/madler/zlib.git
[submodule "Plugin/reaper_ultraschall/Submodules/curl"]
	path = Plugin/reaper_ultraschall/Submodules/curl
	url = https://github.com/curl/curl.git
[submodule "Plugin/reaper_ultraschall/Submodules/cpr"]
	path = Plugin/reaper_ultraschall/Submodules/cpr
	url = https://github.com/whoshuu/cpr.git
[submodule "Plugin/reaper_ultraschall/Submodules/libxml2"]
	path = Plugin/reaper_ultraschall/Submodules/libxml2
	url = https://github.com/GNOME/libxml2.git
