
[submodule "Plugin/reaper_ultraschall/Submodules/minizip"]
	path = Plugin/reaper_ultraschall/Submodules/minizip
	url = https://github.com/nmoinvaz/minizip.git
[submodule "Plugin/reaper_ultraschall/Submodules/zlib"]
	path = Plugin/reaper_ultraschall/Submodules/zlib
	url = https://github.com/madler/zlib.git
[submodule "Plugin/reaper_ultraschall/Submodules/cpr"]
	path = Plugin/reaper_ultraschall/Submodules/cpr
	url = https://github.com/whoshuu/cpr.git
