Build/
.vs/
.vscode/
plugin/*/[D|d]ebug/
plugin/*/[R|r]elease/
x64/
*.user
*.VC.db
*VC.opendb
*.aps
plugin/reaper_ultraschall/reaper_ultraschall.xcodeproj/project.xcworkspace/xcuserdata/Heiko.xcuserdatad/UserInterfaceState.xcuserstate
Plugin/reaper_ultraschall/reaper_ultraschall.xcodeproj/xcuserdata/Heiko.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
.DS_Store
