#########################
# .gitignore file for Ultraschall Installer
#########################

#####
# OS X temporary files that should never be committed

.DS_Store
*.swp
*.lock
profile


####
# Installer output files that should never be committed
#

*.pkg
!Modules/Driver/UltraschallDriver-1.2.pkg
*.dmg
*.dmg.gz
*.dmg.zip
*.msi

.vscode/
