<?xml version='1.0' encoding='utf-8'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <!-- Upgrade code HAS to be the same for all updates. Once you've chosen it don't change it. -->
    <?define UpgradeCode="D1D96805-203A-4323-B50A-6DE876021B35" ?>
    <!-- The URL for add/remove programs -->
    <?define InfoURL="http://ultraschall.fm/" ?>
    <?define VersionNumber="!(bind.FileVersion.ReaperUltraschallDll)" ?>
    <?define ProductName="ULTRASCHALL-3.1.1-preview-1" ?>
    <Product Id="*" Name="$(var.ProductName)" Language="1033" Version="$(var.VersionNumber)" Manufacturer="ultraschall.fm" UpgradeCode="$(var.UpgradeCode)">
        <Package Id="*" InstallerVersion="301" Compressed="yes" Platform="x64" Description="Podcasting Extensions for the REAPER DAW" Comments="Installs the Ultraschall REAPER Extension $(var.VersionNumber)" />
        <WixVariable Id="WixUILicenseRtf" Value="Resources\license.rtf" />
        <WixVariable Id="WixUIDialogBmp" Value="Resources\background.bmp" />
        <WixVariable Id="WixUIBannerBmp" Value="Resources\banner.bmp" />
        <Icon Id="Icon.exe" SourceFile="Resources\ultraschall.ico" />
        <Property Id="ARPPRODUCTICON" Value="Icon.exe" />
        <Property Id="ARPNOREPAIR" Value="yes" Secure="yes" />
        <!-- Remove repair -->
        <MajorUpgrade DowngradeErrorMessage="The same or a newer version of this product is already installed." AllowSameVersionUpgrades="yes" />
        <Condition Message="This product requires at least Windows 7.">
            <![CDATA[Installed OR (VersionNT >= 601)]]>
        </Condition>
        <Media Id="1" Cabinet="Ultraschall.cab" EmbedCab="yes" DiskPrompt="CD-ROM #1" />
        <Property Id="DiskPrompt" Value="Ultraschall 3.1 Installation [1]" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="AppDataFolder">
                <Directory Id="ReaperFolder" Name="REAPER">
                    <Component Id="ReaperComponent" Guid="664474A9-536A-40BD-9E9C-EDC9D016910A" Win64="yes">
                        <RemoveFolder Id="RemoveReaperComponent" Directory="ReaperFolder" On="uninstall" />
                        <RegistryValue Root="HKCU" Key="Software\Ultraschall" Name="Uninstall" Type="string" Value="1.0.0.0" KeyPath="yes" />
                    </Component>
                    <Directory Id="ReaperPluginsFolder" Name="UserPlugins">
                        <Component Id="ReaperPluginsComponent" Guid="C03BAC23-1BA8-4E6D-9B5A-88E09ED2E9E2" Win64="yes">
                            <RemoveFolder Id="RemoveReaperPluginsComponent" Directory="ReaperPluginsFolder" On="uninstall" />
                            <RegistryValue Root="HKCU" Key="Software\Ultraschall" Name="Uninstall" Type="string" Value="1.0.0.0" KeyPath="yes" />
                            <File Id="ReaperUltraschallDll" Name="reaper_ultraschall.dll" DiskId="1" Source="_payload\plug-in\Release\reaper_ultraschall.dll" />
                            <File Name="reaper_sws64.dll" DiskId="1" Source="3rdParty\SWS\Windows\reaper_sws64.dll" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="UltraschallFolder" Name="Ultraschall">
                    <Component Id="UltraschallComponent" Guid="9F68E7D5-9D8E-45B9-9AED-3E1137F2466C" Win64="yes">
                        <RemoveFolder Id="RemoveUltraschallComponent" Directory="UltraschallFolder" On="uninstall" />
                        <RegistryValue Root="HKCU" Key="Software\Ultraschall" Name="Uninstall" Type="string" Value="1.0.0.0" KeyPath="yes" />
                        <File Name="Ultraschall Keyboard Layout.pdf" DiskId="1" Source="_payload\add-ons\Ultraschall Keyboard Layout.pdf">
                            <Shortcut Id="KeyboardLayoutPdfShortcut" Directory="ShortcutsFolder" Name="Ultraschall Keyboard Layout.pdf" />
                        </File>
                        <File Name="README.html" DiskId="1" Source="_payload\resources\README.html">
                            <Shortcut Id="ReadmeShortcut" Directory="ShortcutsFolder" Name="README.html" />
                        </File>
                        <File Name="CHANGELOG.html" DiskId="1" Source="_payload\resources\CHANGELOG.html">
                            <Shortcut Id="ChangelogShortcut" Directory="ShortcutsFolder" Name="CHANGELOG.html" />
                        </File>
                        <File Name="INSTALL.html" DiskId="1" Source="_payload\resources\INSTALL.html">
                            <Shortcut Id="InstallShortcut" Directory="ShortcutsFolder" Name="INSTALL.html" />
                        </File>
                        <File Name="Ultraschall_3.1.ReaperConfigZip" DiskId="1" Source="_payload\theme\Ultraschall_3.1.ReaperConfigZip">
                            <Shortcut Id="ThemeDesktopShortcut" Directory="DesktopFolder" Name="Ultraschall REAPER Theme" WorkingDirectory="INSTALLDIR" Icon="Icon.exe" IconIndex="0" />
                            <Shortcut Id="ThemeShortcut" Directory="ShortcutsFolder" Name="Ultraschall REAPER Theme" Icon="Icon.exe" IconIndex="0" />
                        </File>
                    </Component>
                    <Directory Id="UltraschallAddonFolder" Name="Add-ons">
                        <Component Id="UltraschallAddonsComponent" Guid="C0213247-331D-4004-A6AA-5943351DD48A" Win64="yes">
                            <RemoveFolder Id="RemoveUltraschallAddonsComponent" Directory="UltraschallAddonFolder" On="uninstall" />
                            <RegistryValue Root="HKCU" Key="Software\Ultraschall" Name="Uninstall" Type="string" Value="1.0.0.0" KeyPath="yes" />
                            <File Id="ResAppIcon" Name="Ultraschall App-Icon.png" DiskId="1" Source="_payload\add-ons\Ultraschall App-Icon.png" />
                            <File Id="ResWebbanner" Name="Ultraschall Webbanner.pdf" DiskId="1" Source="_payload\add-ons\Ultraschall Webbanner.pdf" />
                            <File Id="ResWebbanner400" Name="Ultraschall Webbanner 400px.png" DiskId="1" Source="_payload\add-ons\Ultraschall Webbanner 400px.png" />
                            <File Id="ResWebbanner800" Name="Ultraschall Webbanner 800px.png" DiskId="1" Source="_payload\add-ons\Ultraschall Webbanner 800px.png" />
                            <File Id="ResWebbanner2000" Name="Ultraschall Webbanner 2000px.jpg" DiskId="1" Source="_payload\add-ons\Ultraschall Webbanner 2000px.jpg" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="ProgramFiles64Folder" Name="Program Files">
                <Directory Id="SteinbergFolder" Name="Steinberg">
                    <Directory Id="SteinbergPluginFolder" Name="VstPlugins">
                        <Component Id="SteinbergPluginComponent" Guid="A22C272D-F6F2-4564-B9DD-BF385A80F5B3" Win64="yes">
                            <RemoveFolder Id="RemoveSteinbergPluginComponent" Directory="SteinbergPluginFolder" On="uninstall" />
                            <RegistryValue Root="HKCU" Key="Software\Ultraschall" Name="Uninstall" Type="string" Value="1.0.0.0" KeyPath="yes" />
                            <File Name="studio-link.dll" DiskId="1" Source="3rdParty\StudioLink\Windows\studio-link.dll" />
                            <File Name="studio-link-onair.dll" DiskId="1" Source="3rdParty\StudioLink\Windows\studio-link-onair.dll" />
                            <File Name="Soundboard64.dll" DiskId="1" Source="3rdParty\Soundboard\Windows\Soundboard64.dll" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="DesktopFolder" />
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ShortcutsFolder" Name="Ultraschall">
                    <Component Id="ShortcutsComponent" Guid="B7597C7E-0F99-4B16-BF1E-3EC0DAE08664" Win64="yes">
                        <RemoveFolder Id="RemoveShortcuts" Directory="ShortcutsFolder" On="uninstall" />
                        <RegistryValue Root="HKCU" Key="Software\Ultraschall" Name="Uninstall" Type="string" Value="1.0.0.0" KeyPath="yes" />
                    </Component>
                </Directory>
            </Directory>
        </Directory>
        <DirectoryRef Id="TARGETDIR">
            <Merge Id="VCRedist" SourceFile="_payload\vcredist\Microsoft_VC141_CRT_x64.msm" DiskId="1" Language="0" />
        </DirectoryRef>
        <Feature Id="VCRedist" Title="Visual C++ 14.0 Runtime" AllowAdvertise="no" Display="hidden" Level="1">
            <MergeRef Id="VCRedist" />
        </Feature>
        <Feature Id="Complete" Level="1">
            <ComponentRef Id="ReaperComponent" />
            <ComponentRef Id="ReaperPluginsComponent" />
            <ComponentRef Id="SteinbergPluginComponent" />
            <ComponentRef Id="UltraschallAddonsComponent" />
            <ComponentRef Id="UltraschallComponent" />
            <ComponentRef Id="ShortcutsComponent" />
        </Feature>
        <UIRef Id="WixUI_Minimal" />
    </Product>
</Wix>
